*{
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main-content, .middle-section{
  line-height: 50px;
  margin: 40px 60px;
  padding: 20px 40px;
}

.main-content, .middle-section h1{
  margin-bottom: 30px;
  font-size: 30px;
}

.main-content p{
  font-size: 20px;
  user-select: none;
  color: gray;
  width: 70%;
}

.img-container{
  position: relative;
  height: 100vh;
  clip-path: inset(0);
}

img{
  object-fit: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

.fixed-bg{
  background-image: url("https://images.unsplash.com/photo-1485579149621-3123dd979885?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

